[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "mvMonitoring"]
	path = mvMonitoring
	url = https://github.com/gabrielodom/mvmonitoring
	shallow = true
	registered = true
